[submodule ".config/kitty/gruvbox-material-kitty"]
	path = .config/kitty/gruvbox-material-kitty
	url = https://github.com/rsaihe/gruvbox-material-kitty
  branch =  main
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
	branch = master
