$dark: true !default;

window#waybar {
  background-color: unset;
  color: if($dark, #ffffff, #000000);
}

#workspaces,
#mode,
#mpris,
.modules-right {
  background-color: if($dark, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.8));
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0 16px;
  margin: 0 10px;
  /* Adds up to 30px height */
  font-size: 14px;
  padding-top: 2px;
  padding-bottom: 4px;
  margin-bottom: 10px;
}

#workspaces button {
  background-color: if($dark, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4));
  font-size: 0;
  border-radius: 50%;
  min-width: 18px;
  min-height: 18px;
  margin: 8px;
  padding: 0;

  &,
  &:hover {
    border: none;
    box-shadow: none;
    text-shadow: none;
    transition: none;
  }

  &.empty {
    background-color: if($dark, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  }

  &.focused.visible,
  &:hover {
    background-color: if($dark, #ffffff, #000000);
  }

  &.urgent {
    animation-name: blink-danger;
    animation-duration: 500ms;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes blink-danger {
  to {
    background-color: red;
  }
}

#mode {
  background-color: #285577;
  color: #ffffff;
  font-style: italic;
  min-width: 50px;
}

#mpris.paused {
  color: if($dark, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4));
}

#custom-swaync {
  /* NOTE: those attributes somehow make the icon look centered */
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 28px;
  margin-top: -2px;
  margin-bottom: -2px;
  margin-left: 2px;
}
